<div style="padding: 20px;">

  <mat-grid-list cols="5" columnWidth="2:1" class="std-ta-center">
    <mat-grid-tile colspan="2">
      <mat-card class="pink-background">
        <div class="card-content">
          <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
        </div>
        <div class="card-content card-label">
         <span>Total employee:</span> 
          <label>{{jsonData.length}}</label>
        </div>
      </mat-card>

    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <mat-card class="purple-background">
        <div class="card-content card-label">
          <span>Highest earning employee:</span> 
          <label>RM {{higherSalary}}</label>
        </div>
        <div class="card-content card-label">
          <span>Employee most recently joined:</span> 
          <label>{{recentlyJoinedEmployee}}</label>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <app-data-table [data]="jsonData"></app-data-table>
</div>