.body-container{
    padding: 20px;
}
.mat-icon{
    height:150px !important;
    width:150px !important;
    font-size:150px !important;
    color: whitesmoke;
}
mat-card{
    width: 91%; 
    height: 150px; 
    display: flex; 
    align-items: center;
    
    .card-content{
        flex: 1 1 auto;
    }

   
}
.std-ta-center{
    text-align: center;
}
.pink-background{
    background-color: #ff006A;
}
.purple-background{
    background-color: #981FAC;
}
.card-label{
    color: whitesmoke;
    span{
        font-size: 14pt;
        font-weight: 300;
        letter-spacing: 0.6px;
    }
    label{
        display: block;
        font-weight: 600;
        font-size: 24pt;
        letter-spacing: 0.6px;
    }
}
.border-right{
    border-right: 1px solid white;
}